.video {
  opacity: 90%;
}

.boton {
  padding: 5px;
  border-radius: 15px;
}

.botoncard{
  padding: 5px;
  border-radius: 20px;
  background-color: red;
  justify-content: center;
}

.cardgeneral{
  background: #278e9b !important;
  box-shadow: black 8px 7px 27.5px !important;
  border-radius: 8px !important;
}