.video{
opacity: black 70%;

}

.texto{
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.divnegro{
    top: 0;
    background-color: black;
    opacity: 30%;
    position: absolute;
    height: 100%;
}